<h1>新規商品登録</h1>

<%= form_with model: [:shop, @item], local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :商品名 %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :商品説明 %><br>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :価格 %><br>
    <%= form.number_field :price, step: 0.01 %>
  </div>

  <div>
    <%= form.label :カテゴリー %><br>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :商品画像 %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :在庫数 %><br>
    <%= form.number_field :stock %>
  </div>

  <div>
    <%= form.submit '登録' %>
  </div>
<% end %>

<%= link_to '戻る', shop_items_path %>
