<h1><%= @item.name %></h1>

<p><strong>説明:</strong> <%= @item.description %></p>
<p><strong>価格:</strong> <%= @item.price %></p>
<p><strong>カテゴリ:</strong> <%= @item.category %></p>
<p><strong>在庫数:</strong> <%= @item.stock %></p>
<p><strong>画像:</strong> <%= image_tag @item.image if @item.image.present? %></p>

<%= link_to '編集', edit_item_path(@item) %> |
<%= link_to '戻る', items_path %>